<!DOCTYPE html>
<html>
<head>
<title>Layout Web Iqbal</title>
</head>

<body>
<table width="100%" border="1" cellspacing="0" cellpadding="10">

  <!-- Judul -->
  <tr>
    <td colspan="2" bgcolor="EOFFFF" align="center">
      <h1>
        <marquee direction="right" scrollamount="10" behavior="alternate">
          Waroeng Tukang Risol HTML
        </marquee>
      </h1>
    </td>
  </tr>

  <!-- Isi -->
  <tr valign="top">
    <td bgcolor="DCDCDC" width="50%" height="200">
      <b>MENU UTAMA</b><br><br>
      RISOL MAYO<br>
      RISOL AYAM PEDAS<br>
      RISOL SMOKE BEEF<br>
    </td>

    <td bgcolor="DCDCDC" width="50%" height="200">
      Enak Lezat Nikmat Maknyosss!!!
      <p>Beli 1 Pcs Hanya Rp. 3.000</p>
      <p>Beli 2 Pcs Hanya Rp. 5.000</p>
    </td>
  </tr>

  <!-- Footer -->
  <tr>
    <td colspan="2" bgcolor="EOFFFF" align="center">
      <small>copyright &copy;2025 ZIKRIATAMA</small>
    </td>
  </tr>

</table>
</body>
</html>
      